FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=cambiami_con_una_stringa_super_segreta_123
JWT_SECRET_KEY=cambiami_con_un_altro_segreto_jwt_456

# Incolla qui la stringa (Service URI) presa dal pannello di Aiven:
DATABASE_URL=postgresql://user:password@hostname:port/dbname?sslmode=require