FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=inserisci_qui_una_stringa_segreta_e_lunga
WT_SECRET_KEY=cambiami_con_un_altro_segreto_jwt_456

# Configurazione Database (Scegli una delle due opzioni sotto nel file .env)
# Per SQLite locale: sqlite:///nome_db.db
# Per PostgreSQL: postgresql://utente:password@localhost:5432/nome_db
DATABASE_URL=il_tuo_url_del_database_qui